html {
  font-size: var(--font-size, 15px);
  width: 100%;
  width: 100vw;
}

html,
body,
#__nuxt {
  height: 100vh;
  margin: 0;
  padding: 0;
}

* {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  background: #666;
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 0px solid slategrey;
}
